.Navigatorbar{
    width:100%;
    height:50px;
    background-color: salmon;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
}
ul{
    display: flex;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    padding-left : 10px;
    padding-right : 10px;
}