<app-nav (switchLanguage)="ChangeLang($event)"></app-nav>
<div class="container pt-5">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-5">
            <div class="d-flex flex-column justify-content-center">
                <div class="d-flex justify-content-start CovidTitle">
                    {{ 'Header' | translate}}
                </div>
                
                <div class="d-flex w-100">
                    <span >{{ 'LastedUpdate' | translate }} : {{CovidData.UpdateDate}}</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-7">
            <div class="row">
                <div class="col-12 p-1">
                    <div class="d-flex justify-content-center align-items-center pt-2" style="height:230px;">
                        <div class="card animate w-100 h-100" style="background-color: #e752d3;">
                            <div class="card-body">
                                <div class="d-flex justify-content-center align-items-center h-50 fontCardtitle">
                                    {{ 'Confirmed' | translate}}
                                </div>
                                <div class="d-flex justify-content-center align-items-center fontCardCount">
                                    {{CovidData.Confirmed | number}}
                                </div>
                                <div class="d-flex justify-content-center align-items-center">
                                    ({{'Increase' | translate}} {{CovidData.NewConfirmed | number}})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 p-1">
                    <div class="d-flex justify-content-center align-items-center pt-2" style="height:230px;">
                        <div class="card animate w-100 h-100" style="background-color: #34ed7b;">
                            <div class="card-body">
                                <div class="d-flex justify-content-center align-items-center h-50 fontCardtitle">
                                    {{'Recovered' | translate}}
                                </div>
                                <div class="d-flex justify-content-center align-items-center fontCardCount">
                                    {{CovidData.Recovered | number}}
                                </div>
                                <div class="d-flex justify-content-center align-items-center">
                                    ({{'Increase' | translate}} {{CovidData.NewRecovered | number}})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 p-1">
                    <div class="d-flex justify-content-center align-items-center pt-2" style="height:230px;">
                        <div class="card animate w-100 h-100" style="background-color: #ecea71;">
                            <div class="card-body">
                                <div class="d-flex justify-content-center align-items-center h-50 fontCardtitle">
                                    {{'Hospitalized' | translate}}
                                </div>
                                <div class="d-flex justify-content-center align-items-center fontCardCount">
                                    {{CovidData.Hospitalized | number}}
                                </div>
                                <div class="d-flex justify-content-center align-items-center">
                                    <span *ngIf="CovidData.NewHospitalized >= 0">({{'Increase' | translate}} {{CovidData.NewHospitalized | number}})</span>
                                    <span *ngIf="CovidData.NewHospitalized < 0" > ({{'Decrease' | translate}} {{CovidData.NewHospitalized*-1 | number}} )  </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 p-1">
                    <div class="d-flex justify-content-center align-items-center pt-2" style="height:230px;">
                        <div class="card animate w-100 h-100" style="background-color: #f05050;">
                            <div class="card-body">
                                <div class="d-flex justify-content-center align-items-center h-50 fontCardtitle">
                                    {{'Deaths' | translate}}
                                </div>
                                <div class="d-flex justify-content-center align-items-center fontCardCount">
                                    {{CovidData.Deaths | number}}
                                </div>
                                <div class="d-flex justify-content-center align-items-center">
                                    ({{'Increase' | translate}} {{CovidData.NewDeaths | number}})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>